<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EasyConfiguration" type="EasyConfigurationSection.EasyConfigurationSection, EasyConfigurationSection" />
    <section name="Empty" type="EasyConfigurationSection.EasyConfigurationSection, EasyConfigurationSection" />
    <section name="NoChildren" type="EasyConfigurationSection.EasyConfigurationSection, EasyConfigurationSection" />
  </configSections>
  <EasyConfiguration>
    <First>
      <Foo>Bar</Foo>
    </First>
    <Second>
      <Bar>
        <Foo>1</Foo>
        <Foo>2</Foo>
        <Foo>3</Foo>
      </Bar>
    </Second>
  </EasyConfiguration>
  <Empty/>
  <NoChildren></NoChildren>
</configuration>